# values.yaml
replicaCount: 2

image:
  repository: rick-morty-app
  pullPolicy: Never
  tag: "latest"

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  hosts:
    - host: rick-morty.local
      paths:
        - path: /
          pathType: Prefix