name: DevOps Rick & Morty CI
on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create local cluster (Kind)
        uses: helm/kind-action@v1.4.0 
        with:
          cluster_name: kind
      
      - name: Build Docker image
        run: docker build -t rick-morty-app:latest . 

      - name: Load image to Kind
        run: kind load docker-image rick-morty-app:latest

      - name: Deploy to Kubernetes using Helm
        run: |
          helm install rick-release ./Helm/rick-morty-app 

      - name: Test endpoints
        run: |
          kubectl rollout status deployment/rick-morty-app --timeout=90s
          
          kubectl port-forward svc/rick-morty-service 5000:80 & 
          sleep 15
          
          curl -f http://localhost:5000/healthcheck
          
          curl -f http://localhost:5000/characters